.contenedor1{
    background-color: rgb(12, 12, 12);
    height: 260px;
    width: 210px;
    display: flex;
    margin: 10px;
    padding: 15px;
}

.contenedor2{
    background-color: rgb(231, 237, 237);
    margin: 0px 30px;
    height: 80px;
    width: 150px;
    padding: 10px;
    border: solid green;
    
}

img{
    height: 230px;
    width: 180px;
    

}





.titulocarrito{
    text-align: center;
    font-size: 30px;
    padding: 20px;
    background-color: rgb(137, 224, 138);
    
}