@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.imagen{
    background-color:rgba(201, 240, 144, 0.8) ; 
    height: 340px;
    width: 260px;
    float: left; 
    
    position: relative; 
    left: 200px; 
    align-items:center; 
    margin: 60px;
    padding: 5px;
    box-shadow: 10px 10px 20px rgb(52, 58, 49);
    border-radius: 10px;
}

img{
    width: 250px;
    height: 300px;
    border-radius: 10px;
    align-content: center;
    align-items: center;

}

.contenedor{
    background-color:rgba(201, 240, 144, 0.8);
    height: 450px; 
    width: 500px;
    padding: 20px;
    margin:60px;
    float: left;
    position: relative;
    left: 200px;
    border-radius: 10px;
    border: solid rgb(113, 134, 104);
}


.titulo{
    text-align: center;
   
    

}

.detalle{
    font-family: Oswald;
    font-size: 20px;

}

.talles{
    font-family: Oswald;
    font-size: 20px;

}

.colores{
    font-family: Oswald;
    font-size: 20px;

}

.precio{
    font-family: Oswald;
    font-size: 30px;

}

.stock{
    font-family: Oswald;
    font-size: 20px;

}
