.contador {
     background-color:rgba(201, 240, 144, 0.8) ; 
    width: 250px;
    height: 150px;
    padding: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin: auto; 
    border-radius: 10px;
}

.boton>button{
    height: 30px;
    width: 30px;
    margin: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
    background-color:rgba(144, 170, 104, 0.8);

}

/* From uiverse.io by @adamgiebl */
.colorboton{
    --green: #4b9e06;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(134, 235, 134, 0.726) 1%, transparent 40%,transparent 60% , rgba(134, 235, 134, 0.726) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgb(65, 122, 65), 0 0 9px 3px rgba(27, 253, 156, 0.1);
   }
   
   .colorboton:hover {
    color: #296927;
    box-shadow: inset 0 0 10px rgb(105, 252, 130), 0 0 9px 3px rgba(18, 26, 18, 0.904);
   }
   
   .colorboton:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(194, 233, 199, 0.507) 40%,rgba(1, 230, 31, 0.507) 60% , transparent 100%);
   }
   
   .colorboton:hover:before {
    transform: translateX(15em);
   }


   .numero{
    color:rgb(7, 7, 7);
   }