.cardContainer{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: fit-content;
    width: 95%;
    margin: 70px;
    padding: 5px;
    
}

 

  

.contenedorcargador{
    
    height          : 100vh;
    width           : 100vw;
    position        : fixed;
    transition      : all 1s linear;
    z-index         : 1000;
    display         : flex;
    flex-direction  : column;
    text-align      : center;
    justify-content : center;
    align-items     : center;
    font-size       : 4rem;
}

       
.cargador {
    width              : 150px;
    height             : 150px;
    border             : 20px solid rgb(51, 255, 0);
    border-top-color   : rgb(105, 241, 105);
    border-top-style   : groove;
    border-bottom-color: rgb(105, 241, 105);
    border-bottom-style: groove;
    border-radius      : 100%;
    margin             : auto;
    animation          : girar 1.5s linear infinite;
}
@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}