.cardContainer{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: fit-content;
    width: 95%;
    margin: 70px;
    padding: 5px;
    
}

 body{
    background-image: url("https://i.postimg.cc/jjG7V3m4/fondo.jpg");
    background-repeat: repeat;
    
  }  

  .cargando{
    font-size: 30px;
  }